@charset "utf-8";
/* FUKADA css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; vertical-align: baseline; word-wrap: break-word; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { display: block; }
html { font-size: 62.5%; }
body { -webkit-text-size-adjust: 100%; overflow-x: hidden; line-height: 1; font: 1.6rem/1.75 'M PLUS Rounded 1c' , 'Lato', 'Noto Sans Japanese', '游ゴシック体', YuGothic, '游ゴシック Medium', 'Yu Gothic Medium', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif; letter-spacing: 0.08em; }
a { text-decoration: none; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
img{ width: 100%; display: block; vertical-align: bottom; }
textarea, input, button{ display: block; border: none; font: 1.6rem/1.75 'M PLUS Rounded 1c' , 'Lato', 'Noto Sans Japanese', '游ゴシック体', YuGothic, '游ゴシック Medium', 'Yu Gothic Medium', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif; letter-spacing: 0.08em; }
textarea, input, select{ width: 100%; }
button:hover{ cursor: pointer; }
* { box-sizing: border-box; }
/* 余白 */
.wrap{ max-width: 1100px; margin: 0 auto; padding: 0 2%; }
/* iOSでのデフォルトスタイルをリセット */
input[type="submit"], input[type="button"], select { border-radius: 0; -webkit-box-sizing: content-box; -webkit-appearance: button; appearance: button; border: none; box-sizing: border-box; cursor: pointer; }
input[type="submit"]::-webkit-search-decoration, input[type="button"]::-webkit-search-decoration, select::-webkit-search-decoration { display: none; }
input[type="submit"]:focus, input[type="button"]:focus, select:focus { outline-offset: -2px; }

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++共通+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* ページ別 --------------------------------------------------------------------
------------------------------------------------------------------------------*/

/* 小分け-------------------------------------------------------------------- */

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++個別+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */



/* SP:960px以下 ================================================================
===============================================================================*/
@media(max-width: 960px){
    /* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    +++++共通+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

    /* ページ別 --------------------------------------------------------------------
    ------------------------------------------------------------------------------*/

    /* 小分け-------------------------------------------------------------------- */

    /* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    +++++個別+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
}

/* SP:640px以下 ================================================================
===============================================================================*/
@media(max-width: 640px){
    /* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    +++++共通+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

    /* ページ別 --------------------------------------------------------------------
    ------------------------------------------------------------------------------*/

    /* 小分け-------------------------------------------------------------------- */

    /* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    +++++個別+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
}

/* SP:470px以下 ================================================================
===============================================================================*/
@media(max-width: 470px){
    /* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    +++++共通+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

    /* ページ別 --------------------------------------------------------------------
    ------------------------------------------------------------------------------*/

    /* 小分け-------------------------------------------------------------------- */

    /* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    +++++個別+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
}
